.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #361134;
}

.center-container {
  width: 100%;
}
.index-container {
  border-radius: 20px;
  max-width: 500px;
  margin: 0 auto; /* Для центрирования контейнера по горизонтали */
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

.container {
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto; /* Для центрирования контейнера по горизонтали */
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

/* Стили для заголовка */
.title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

/* Стили для описания */
.description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #777;
  line-height: 1.5;
}

/* Стили для формы авторизации */
.auth-form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

/* Стили для заголовков формы */
.auth-form h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

/* Стили для полей ввода */
.auth-form input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Стили для кнопки */
.auth-form button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #e56b70;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
.button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #e56b70;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
/* Медиазапросы */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

/* Стили для заголовка */
.main-h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #393d3f;
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #e56b70;
}
.description{
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}
.main-description{
  color: #393d3f;
}
.body-main{
  background-color: #ddf9e9;
}

.main-content {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  max-width: 960px;
}

.main-container {
  border-radius: 20px;
  max-width: 800px;
  margin: 0 auto; /* Для центрирования контейнера по горизонтали */
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.posts-container {
  border-radius: 20px;
  max-width: fit-content;
  margin: 0 auto; /* Для центрирования контейнера по горизонтали */
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd;
}

.post-form {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-form input[type="text"]{
  width: calc(100% - 20px); /* Учитываем ширину полей и отступы */
  padding: 10px; /* Задаем отступы внутри полей */
  margin-bottom: 10px; /* Отступ снизу */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 0; /* Убираем правый отступ */
  margin-left: 0; /* Убираем левый отступ */
  resize: none;
}
.post-form textarea {
  width: calc(100% - 20px); /* Учитываем ширину полей и отступы */
  padding: 10px; /* Задаем отступы внутри полей */
  margin-bottom: 10px; /* Отступ снизу */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 0; /* Убираем правый отступ */
  margin-left: 0; /* Убираем левый отступ */
  resize: none;
  height: 300px;
}

.post-form button {
  width: 120px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #393d3f;
  color: #fff;
  cursor: pointer;
  float: right
}

.posts-list {
  list-style: none;
  padding: 0;
}

.post {
  height: 300px;
  width: 700px;
  background-color: #fdfdfd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto; 
  max-height: 500px; /* Установите максимальную высоту поста */
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  color: #0d1321;
  margin-bottom: 5px;
}

.post-content {
  height: max-content;
  color: #0d1321;
}

.post-timestamp {
  font-size: 12px;
  color: #0d1321;
}
